@* <link rel="stylesheet" href="~/css/index.css">

<div class="input-maincontainer">
    <div class="input-box">
        <div class="three-circles-container">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <input type="text" placeholder="What is your next tasks?" class="input-field">
        </div>
    </div>
</div> *@